<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <title>{{ site.name }} - {{ page.title|title }}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ site.base_url }}/assets/css/pure.blog-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ site.base_url }}/assets/css/pure.blog.css">
  <!--<![endif]-->  
  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-med-1-4">
      <div class="header">
        <hgroup>
          <h1 class="brand-title">{{ site.name }}</h1>
          <h2 class="brand-tagline">{{ site.baseline }}</h2>
        </hgroup>
        <nav class="nav">
          <ul class="nav-list">
            {% for item in page.nav %}
            <li class="nav-item">
              <a class="pure-button" href="{{ site.base_url }}{% if item.path != '' %}/{{ item.path }}{% endif %}">{{ item.title|e }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="content pure-u-1 pure-u-med-3-4">
      <div>
        {% block content %}
        {{ page.content }}
        {% endblock %}
        {% block posts %}{% endblock %}
        <div class="footer">
          <div class="pure-menu pure-menu-horizontal pure-menu-open">
            <ul>
              <li><a href="{{ site.author.home }}">{{ site.author.name }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>
  <script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {
      // This just makes sure that the href="#" attached to the <a> elements
      // don't scroll you back up the page.
      Y.one('body').delegate('click', function (e) {
        e.preventDefault();
      }, 'a[href="#"]');
    });
  </script>
</body>
</html>
